<div class="main__user-message"></div>
<section class="main__products d-flex flex-row">
   <article class="main__product" *ngFor="let product of products$ | async">
    <a routerLink="/edit-item/{{product.id}}" >
        <figure>
            <img class="product__image" src="{{product.image}}"
                alt="{{product.title}}">
        </figure>
        <h2>{{product.title}}</h2>
        <p class="product__price">{{product.content}} €</p>
    </a>
    <button class="btn" (click)="addToCart(product)">Add to Cart</button>
   </article> 
</section>
<!-- <section class="main__new-item">
    <a class="btn btn-primary btn-lg"  routerLink="/edit-item" role="button">Add new item</a>
</section>
<section class="main__new-item">
    <a class="btn btn-primary btn-lg"  routerLink="/cart" role="button">Go to Cart</a>
</section> -->
