<section class="main__products d-flex flex-row">
   <article class="main__product" *ngFor="let product of products">
    <a routerLink="/edit-item/{{product.id}}" >
        <figure>
            <img class="product__image" src="{{product.image}}"
                alt="{{product.title}}">
        </figure>
        <h2>{{product.title}}</h2>
        <p class="product__price">{{product.content}} €</p>
    </a>
   </article> 
</section>
<section class="main__new-item">
    <a class="btn btn-primary btn-lg"  href="/add-item" role="button">Add new item</a>
</section>
